* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: aliceblue;
}

.page {
    border-bottom: 10px solid rgb(53, 52, 52);
    background-color: #000;
}

#page2 {
    background-color: #000;
    background-position: center;
    background-size: cover;
}

#page1 {
    background-image: url(images/neflixlogin.jpg);

    background-position: center;
    background-size: cover;
    background-color: #222;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

.nav_right {
    display: flex;
    align-items: center;
}

.logo {
    padding: 20px;
}

.logo img {
    height: 50px;
}

#lansel {
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: inherit;
}

option {
    color: rgb(220, 215, 215);
    background-color: black;
    border: none;
}

.lan {
    display: flex;
    border: 1.5px solid gray;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 6px 24px;
    padding-left: 4px;
    box-shadow: 4px 4px black;
}

.lan img {
    height: 30px;
}

.sign_in {
    font-size: large;
    color: white;
    padding: 6px 12px;
    margin: 10px;
    height: fit-content;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: red;
}

.email {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
}

main {
    display: flex;
    margin: 13%;
    justify-content: center;
}

.email input {
    height: 40px;
    background-color: rgb(33, 38, 44);
    border: 1px solid gray;
    width: 350px;
    padding: 3px;
    box-shadow: rgb(76, 76, 77) 0px 20px 30px -10px;
}

#tag_line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tag_line h1 {
    font-size: 60px;
    margin-bottom: 16px;
}

#tag_line h4 {
    font-size: 18px;
    margin-bottom: 24px;
}

#tag_line p {
    font-size: 18px;
    margin: 5px;
}

.start {
    font-size: large;
    color: white;
    padding: 6px 12px;
    margin: 10px;
    height: fit-content;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: red;
    width: fit-content;
}

#page2 {
    display: flex;
    justify-content: space-evenly;
}

.watch {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    flex-direction: column;
    justify-content: center;
}

.watch h2 {
    font-size: 80px;
    font-weight: 700;
}

.watch p {
    font-size: 23px;
}

.tv {
    position: relative;
}

.tv img {
    position: relative;
    z-index: 2;
    width: 90vb;
    height: auto;
}

.tv video {
    position: absolute;
    top: 102px;
    left: 89px;
    width: 64vb;
    height: auto;
    z-index: 1;
}

#page3 {
    display: flex;
    align-items: center;
    background-color: #000;
    justify-content: center;
}

#page3 div {
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.mobile img {
    width: 550px;
}

.text {
    width: 550px;
}

.text h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.text p {
    font-size: 24px;
}

#page4 {
    display: flex;
    align-items: center;
    background-color: #000;
    justify-content: center;
}


.rightmac {
    position: relative;
}

.rightmac img {
    position: relative;
    z-index: 1;
}

.rightmac video {
    position: absolute;
    top: 43px;
    left: 123px;
    width: 56vh;
}

#page5 {
    display: flex;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    justify-content: space-between;
}

#children {
    width: 400px;
}

#page6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page6 h1{
    font-size: 40px;
    margin: 5px;
    padding: 5px;
}

@media (max-width:990px) {
    header {
        margin-left: 40px;
        margin-right: 40px;
    }

    #page2 {
        flex-direction: column;
        align-items: center;
    }

    .watch {
        align-items: center;
    }

    .watch h2 {
        font-size: 50px;
    }

    .watch p {
        font-size: 16px;
    }

    #page3 {
        flex-direction: column;
    }

    .righttext p {
        position: absolute;
        top: 2px;
    }

}